*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  margin: auto;
  justify-content: center;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin-top: 133px;
  display: flex;
  align-content: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  margin-top: 80px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  padding: 0 13px 0 0;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  height: 34px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-height: 298px;
  min-width: 420px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item {
  width: 394px;
}

.content__card-link { 
  text-decoration: none; 
  display: block; 
  margin: 2px; 
} 

.content__video-card {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  height: 107px;
}

.content__video-card-description-container {
  margin-top: 2px;
  margin-left: 2px;
  flex-grow: 1;
}

.content__video-card-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.content__video-card-description {
  color: #fff;
  font-size: 18px;
  line-height: 0.9;
  font-weight: 400;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  align-self: center;
}

.more-button {
  width: 100%;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
  text-decoration: none;
}
  
.content__card-link:focus-visible { 
  outline: 1px solid #fff; 
} 

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  width: 15px;
  height: 15px;
  background-color: #fff;
  content: "";
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.content__list-item:focus-visible {
  outline: none;
}
























